.alert-warning p {
    font-weight: 600;
    margin: 0;
}
.alert-success {
    border: none;
}
.alert-success p {
    font-weight: 600;
    margin: 0;
}
.ui-card {
    background: #fff;
    padding: 0 1rem;
}
.ui-card .header {
    background: #f9a31b;
    padding: 2rem;
    color: var(--blue);
}
.ui-card .header h1 {
    color: #fff;
}
.ui-card .header p {
    color: #fff;
    font-weight: 600;
}
.ui-card .body {            
    padding: 2rem 0;
}
.ui-table {
    width: 100%;
    border-collapse: collapse;
}

.ui-table thead {
    border-bottom: 2px solid #f0f0f0;

}
.ui-table thead tr th {
    padding: 1rem;
    color: #444;
}
.ui-table tbody tr:nth-child(even) {
    background: #f1f1f1;
}
.ui-table tbody tr td {
    padding: 2rem 1rem;
    color: #444;
}